{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 120,
  "singleAttributePerLine": true,
  "arrayExpand": true,
  "endOfLine": "auto",
  "bracketSameLine": false
}
